body{
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 110px;
}
.headliner{
    height: 85px;
    background-color: rgba(0,0,0,0.8);
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: aliceblue;
    
}
.wrap {
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #FFF;
    margin-top: 23%;
}
h2{
    text-align: center;
}
input[type=text], input[type=password], input[type=number], input[type=email]{
    width: 90%;
    box-sizing: border-box;
    padding: 12px 5px;
    background: rgba(0,0,0,0.10);
    outline: none;
    border: none;
    border-bottom: 1px dotted wheat;
    border-radius: 7px;
    margin: 3px;
    font-weight: bold;
    color: #FFF;
}
input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 20px;
    outline: none;
    border: none;
    background: #60adde;
    opacity: 0.7;
    border-radius: 15px;
    font-size: 20px;
    color: #FFF;
}
.contest{
    width: 30%;
}
.btn{
    width: 100%;
    padding: 12px 5px;
    margin-top: 10px;
    border-radius: 7px;
    background-color: steelblue;
    font-weight: bolder;
}
.required:after{
    content: '*';
    color: wheat;
}
.home-btn{
    float: left;
    font-size: 20px;
    padding: 10px;
    height: 100%;
    background-color: rgba(0,0,0,0.10);
    color: #FFF;
    border: none;

}
.table-wrap {
    max-width: 500px;
    border-radius: 20px;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #FFF;
    margin-top: 100px;
}
table{
    width: 100%;
    /*border-spacing: 5px;*/
}
th{
    text-align: left;
}
table, th, td{
    border: 2px solid wheat;
    border-collapse: collapse;
    text-align: center;
}
th, td{
    padding: 10px 0px;
}

.signup-wrap {
    max-width: 350px;
    border-radius: 20px;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #FFF;
    margin-top: 100px;
}

.info-wrap {
    max-width: 900px;
    border-radius: 20px;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
    box-sizing: border-box;
    padding: 40px;
    color: #FFF;
    margin-top: 100px;
}

