<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <meta charset="utf-8">
    <title>Teilnehmer</title>
</head>
<body>
    <div class="headliner">
        <button class="home-btn" onclick="window.location.href = '/';">Startseite</button>
        <h1>Eintracht Duo</h1>
	<h3>2. offene Vereinsmeisterschaft - 500m Schwimmen + 5km Laufen (Jagdstart)</h3>
    </div>
    <div class="table-wrap">
        <table>
            <caption><h1>Teilnehmer</h1></caption>
            <tr>
                <th>Nachname</th>
                <th>Vorname</th>
                <th>Wettbewerb</th>
            </tr>
            {% for row in contestants %}
            <tr>
                <td>{{row.last_name}}</td>
                <td>{{row.first_name}}</td>
                <td>{{row.contest}}</td>
            </tr>
            {% endfor %}
          </table>
    </div>
</body>
</html>
