<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Email versandt</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Wir haben Dir eine Email mit einem Bestätigungslink geschickt.</h1>
        <h3>Bitte bestätigt Deine Anmeldung, in dem Du auf den Link in der Email klickst, den wir Dir gerade geschickt haben.
            Es geht gleich weiter auf der Startseite...</h3>
    </div>
    <script>    
        window.setTimeout(function(){window.location.href = "/";}, 7000);
    </script>
</body>
</html>
