<!DOCTYPE html>
<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>

    <body>
        <div class="headliner">
            <h1>SWIM & RUN</h1>
        </div>

        <div class="wrap">
            <button class="btn" type="button" onclick="window.location.href = '/register';">REGISTER</button>
            <button class="btn" type="button" onclick="window.location.href = '/dashboard';">SEE CONTESTANTS</button>
        </div>
        
    </body>
</html>