<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <meta charset="utf-8">
    <title>Infos</title>
</head>
<body>
    <div class="headliner">
        <button class="home-btn" onclick="window.location.href = '/';">Startseite</button>
        <h1>Eintrachts Duo: 2. offene Vereinsmeisterschaft</h1>
        <h3>500m Schwimmen + 5km Laufen (Jagdstart)</h3>
    </div>
    <div class="info-wrap">
	 <object width="800" height="1200"  data="../static/infos.pdf"></object>	
    </div>
</body>
</html>

