<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>

    <body>
        <div class="headliner">
            <button class="home-btn" onclick="window.location.href = '/';">Startseite</button>
            <h1>Eintracht's Duo: 2. offene Vereinsmeisterschaft</h1>
	    <h3>500m Schwimmen + 5km Laufen (Jagdstart)</h3>
        </div>
        <div class="signup-wrap">
            <h2>Anmeldung</h2>
            <form method="POST">
            
                <h3 class="required">Geschlecht:</h3>
                <input type="radio" name="gender" value="Female" required/>weiblich
                <input type="radio" name="gender" value="Male" required/>männlich
            
                <div class="required">
                    <input type="text" name="firstname" placeholder="Vorname" required/>
                </div>
                <div class="required">
                    <input type="text"  name="lastname" placeholder="Nachname" required/>
                </div>
                <div class="required">
                    <input type="number" name="yob" placeholder="Geburtsjahr" required/>
                </div>
                <div class="required">
                    <input type="email"  name="email" placeholder="Email" required/>
                </div>
                <div>
                    <input type="text"  name="telephone" placeholder="Telefon"/>
                </div>
                <input type="text" name="club" placeholder="Club"/>
                <!--
		<h3 class="required">Wettbewerb:</h3>
                <input type="radio" name="contest" value="Eintracht Duo" required/>Eintracht Duo
                <input type="radio" name="contest" value="Eintracht Duo Relay" required/>Eintracht Duo Staffel
                -->
		<div class="required tooltip">
                    <hr>
                    <input type="checkbox" name="agreed" required/>Ich habe die Angaben zum Datenschutz, Haftungsauschluss gelesen, erkenne sie an und werde die Startgebühr von 3,-EUR am Wettkampftag entrichten.
			  <span class="tooltiptext"><a href="http://ec2-3-125-149-53.eu-central-1.compute.amazonaws.com/infos">Teilnahmebedingungen</a></span>
		</div>
                <input type="submit" value="Anmelden">
            </form>
        </div>    
    </body>
</html>
