<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    </head>

    <body>
        <div class="headliner">
            <button class="home-btn" onclick="window.location.href = '/';">Home</button>
            <h1>SWIM & RUN</h1>
        </div>
        <div class="wrap">
            <h2>Sign Up</h2>
            <form method="POST">
            
                <h3 class="required">Gender:</h3>
                <input type="radio" name="gender" value="Female" required/>Female
                <input type="radio" name="gender" value="Male" required/>Male
            
                <div class="required">
                    <input type="text" name="firstname" placeholder="First name" required/>
                </div>
                <div class="required">
                    <input type="text"  name="lastname" placeholder="Last name" required/>
                </div>
                <div class="required">
                    <input type="number" name="yob" placeholder="Year of birth" required/>
                </div>
                <div class="required">
                    <input type="email"  name="email" placeholder="Email" required/>
                </div>
                <div>
                    <input type="text"  name="telephone" placeholder="Telephone"/>
                </div>
                <input type="text" name="club" placeholder="Club"/>
                <h3 class="required">Contest:</h3>
                <input type="radio" name="contest" value="Eintracht Duo" required/>Eintracht Duo
                <input type="radio" name="contest" value="Eintracht Duo Relay" required/>Eintracht Duo Relay
                <input type="submit" value="Register">
            </form>
        </div>    
    </body>
</html>